<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.databaseproject.mapper.PersonListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.databaseproject.entity.PersonList">
        <id column="p_no" property="pNo" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="age" property="age" />
        <result column="title" property="title" />
        <result column="politic" property="politic" />
        <result column="education" property="education" />
        <result column="duration" property="duration" />
        <result column="enter_time" property="enterTime" />
        <result column="p_type" property="pType" />
        <result column="retired" property="retired" />
        <result column="temp" property="temp" />
    </resultMap>

</mapper>
